/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common styles */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

/* header style */
header, footer{
  display: flex;
  align-items: center;
  background-color: #562eff;
  height: 94px;
  width: 100%;
  justify-content: center;
  font-size: 14px;
  color: white;
 
}
.header-container{
  width: 930px;
  display: flex;
  justify-content: space-between;
}
.pages{
  align-items: center;
}
.pages h3{
  margin-right: 36px;
}
.pages img{
  height: 51px;
  width: 51px;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 60px;
  width: 50px;
}
.logo span{
  font-size: 24px;
  color: white;
  margin-left: 15px;
}
.pages{
  display: flex;
  font-size: 16px;
  color: white;
  font-weight: 100; 
}

main {
  margin:28px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: white;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Top players style*/
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}

.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
  align-items: center;
}
/* top blog styles */
.blog img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}

/* courses styles */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  width: 253px;
  height: 269.79px;
  box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px
    rgba(0, 0, 0, 0.05);
  padding: 15px 15px 13px 15px;
  border-radius: 15px;
}
.course .course-banner img {
  height: 104px;
  width: 100%;
}
.course-title {
  margin-top: 10px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  width: 94.83px;
  height: 29.38px;
  font-size: 14.6913px;
  color: #ff4a60;
  background-color: #ffe4e8;
  border-radius: 14.6913px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Media Queries */

/* Mobile devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    width: 100%;
  }
}
